<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.CouponMapper">

    <resultMap id="BaseResultMap" type="com.tianji.promotion.domain.po.Coupon">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="type" column="type" />
            <result property="discountType" column="discount_type" />
            <result property="specific" column="specific" />
            <result property="discountValue" column="discount_value" />
            <result property="thresholdAmount" column="threshold_amount" />
            <result property="maxDiscountAmount" column="max_discount_amount" />
            <result property="obtainWay" column="obtain_way" />
            <result property="issueBeginTime" column="issue_begin_time" />
            <result property="issueEndTime" column="issue_end_time" />
            <result property="termDays" column="term_days" />
            <result property="termBeginTime" column="term_begin_time" />
            <result property="termEndTime" column="term_end_time" />
            <result property="status" column="status" />
            <result property="totalNum" column="total_num" />
            <result property="issueNum" column="issue_num" />
            <result property="usedNum" column="used_num" />
            <result property="userLimit" column="user_limit" />
            <result property="extParam" column="ext_param" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="creater" column="creater" />
            <result property="updater" column="updater" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,discount_type,specific,discount_value,
        threshold_amount,max_discount_amount,obtain_way,issue_begin_time,issue_end_time,
        term_days,term_begin_time,term_end_time,status,total_num,
        issue_num,used_num,user_limit,ext_param,create_time,
        update_time,creater,updater
    </sql>
    <update id="incrUseNum">
        update coupon
        set used_num=used_num+#{count}
        where id = #{couponIds}
          AND used_num + #{count} &lt;= total_num
          AND used_num + #{count} &gt;= 0
    </update>
</mapper>
