<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.UserCouponMapper">

    <resultMap id="BaseResultMap" type="com.tianji.promotion.domain.po.UserCoupon">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="couponId" column="coupon_id" />
            <result property="termBeginTime" column="term_begin_time" />
            <result property="termEndTime" column="term_end_time" />
            <result property="usedTime" column="used_time" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coupon_id,term_begin_time,term_end_time,used_time,
        status,create_time,update_time
    </sql>
    <select id="queryMyCoupon" resultType="com.tianji.promotion.domain.po.Coupon">
        select c.id, c.discount_type, c.`specific`, c.discount_value, c.threshold_amount,
               c.max_discount_amount, uc.id AS creater
        from user_coupon uc
        inner join coupon c on uc.coupon_id =c.id
        where uc.user_id=#{userId} and uc.status=1
    </select>
    <select id="queryCouponByUserCouponIds" resultType="com.tianji.promotion.domain.po.Coupon">
        select c.id, c.discount_type, c.`specific`, c.discount_value, c.threshold_amount,
               c.max_discount_amount, uc.id AS creater
        from user_coupon uc
                 inner join coupon c on uc.coupon_id =c.id
        where uc.user in
        <foreach collection="userCouponIds" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
        and uc.status=#{status}
    </select>
</mapper>
